body{
    background-color: azure;
    text-align: center;
}
#container{
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
button{
    font-size: 1.5rem;
    padding: 10px, 15px;
    border-radius: 5px;
    border: none;
    background-color: rgb(14, 3, 112);
    color: antiquewhite;
    cursor: pointer;
    margin-top: 15px; 
}
button:hover{
    background-color: rgb(26, 1, 255);
}
button:active{
    background-color: hsl(246, 100%, 70%);
}
input{
    font-size: 1.85rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}
#diceResult{
    margin: 25px;
}
#diceImages img{
    width: 100px;
    margin: 5px;
}
